html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {

	background: #222;
}
.song_element {
	color: #AAA;
	background: #444;
}

.song_element_active, .song_element{
	border: #555 solid 2px;
	cursor: pointer;
	border-radius: 7px;
	margin: 2px;
	padding: 10px;
	font-weight: bold;
}

.song_element_active {
	border: #AAA solid 2px;
	color: #CCC;
	background: #333;

}
.button {
	border-radius: 10px;
	margin-right: 55px;
	margin-top: 50px;
	width: 150px;
	height: 50px;
	background: #222;
	display: inline-block;
	color: #FFF;
	cursor: pointer;
	border: #FFF 2px solid;
}

.button:hover {
	background: #444;
	border: #FFF 2px solid;
	color: #FFF;

}

.button:active {
	border: #FFF solid 2px;
	background: #222;
}

#song_list{
	padding-top: 40px;
	width: 60%;
	margin:0 auto;
}


audio{
	position: fixed; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    width: 100%;
	background: #666;
	padding-top: 10px;
	height: 30px;
}

img{
	margin-right: 10px;
	border: solid 3px #FFF;
}

#user_info{
	border-radius: 20px;
	margin: 50px auto;
	padding: 50px;
	width: 450px;
	background: #778;
	border: solid #AAA 2px;
}
#user_name{
	color: #FFF;
	padding: 15px;
}
#user_photo{
	float: left;
}
#first_name, #last_name{
	font-size: 2.4em;
}

#buttons{
	margin: 10px auto;
	width: 100%;
	text-align: justify;
}