html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body {

	background: #BEB87A;
}
.song_element {
	color: #AAA;
	background: #444;
}

.song_element_active, .song_element{
	border: #555 solid 2px;
	cursor: pointer;
	border-radius: 7px;
	margin: 2px;
	padding: 10px;
	font-weight: bold;
}

.song_element_active {
	border: #AAA solid 2px;
	color: #CCC;
	background: #333;

}

.button {
	text-align: center;
	color: #FCFCFF;
	background: #40739A;
	visibility: hidden;
	width: 270px;
	height: 50px;
	cursor: pointer;
}

.big_button {
	text-align: center;
	color: #FCFCFF;
	background: #40739A;
	visibility: hidden;
	width: 100%;
	height: 50px;
	cursor: pointer;
}

.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.align {
	display: inline-block;
	vertical-align: middle;
}

.button:active {
	box-shadow: inset 0 0 1px #FFF;
}

#song_list{
	padding-top: 40px;
	width: 60%;
	margin:0 auto;
}


audio{
	position: fixed; /* Абсолютное позиционирование */
    top: 0px; /* Положение от нижнего края */
    width: 100%;
	background: #666;
	padding-top: 10px;
	height: 30px;
}

.block{
	margin: 5px 0 0 5px;
	display: inline-block;
}

.block:first-child{
	margin: 5px 0 0 0;
}

img{
	margin-right: 10px;
	border: solid 3px #FFF;
}

#content {
	margin: 50px auto;
	width: 550px;
}

#user_info{
	min-height: 140px;
	width: 550px;
	background: #52350E;
}
#user_name{
	color: #F5F5FE;
	padding: 15px;
}
#user_photo{
	float: left;
}
#first_name, #last_name{
	font-size: 2.3em;
}

#buttons{
	color: #F5F5FE;
	width: 550px;
}
